{
    "swagger": "2.0",
    "info": {
        "title": "Quick Base API",
        "version": "1.0.0"
    },
    "host": "api.quickbase.com/v1",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/files/{tableId}/{recordId}/{fieldId}/{versionNumber}": {
            "get": {
                "description": "Downloads the file attachment, with the file attachment content encoded in base64 format. The API response returns the file name in the `Content-Disposition` header. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to fetch files.",
                "summary": "Download file",
                "operationId": "downloadFile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tableId",
                        "description": "The unique identifier of the table.",
                        "required": true,
                        "in": "path",
                        "example": "bck7gp3q2",
                        "type": "string"
                    },
                    {
                        "name": "recordId",
                        "description": "The unique identifier of the record.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "fieldId",
                        "description": "The unique identifier of the field.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "versionNumber",
                        "description": "The file attachment version number.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/octet-stream",
                        "schema": {
                            "description": "Base64 encoded file content.",
                            "example": "UXVpY2sgQmFzZSBJbmMu"
                        }
                    }
                },
                "tags": [
                    "Files"
                ]
            },
            "delete": {
                "description": "Deletes one file attachment version. Meta-data about files can be retrieved from the /records and /reports endpoints, where applicable. Use those endpoints to get the necessary information to delete file versions.",
                "summary": "Delete file",
                "operationId": "deleteFile",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tableId",
                        "description": "The unique identifier of the table.",
                        "required": true,
                        "in": "path",
                        "example": "bck7gp3q2",
                        "type": "string"
                    },
                    {
                        "name": "recordId",
                        "description": "The unique identifier of the record.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "fieldId",
                        "description": "The unique identifier of the field.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "versionNumber",
                        "description": "The file attachment version number.",
                        "required": true,
                        "in": "path",
                        "example": 1,
                        "type": "integer"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully Deleted the File Attachment",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "versionNumber": 1,
                                "fileName": "file.pdf",
                                "uploaded": "2019-12-18T08:00:00Z",
                                "creator": {
                                    "email": "jsmith@quickbase.com",
                                    "id": "123456.ab1s",
                                    "name": "Juliet Smith",
                                    "userName": "jsmith"
                                }
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                                "versionNumber": {
                                    "description": "The number of deleted version.",
                                    "type": "integer"
                                },
                                "fileName": {
                                    "description": "The name of file associated with deleted version.",
                                    "type": "string"
                                },
                                "uploaded": {
                                    "description": "The timestamp when the version was originally uploaded.",
                                    "type": "string"
                                },
                                "creator": {
                                    "description": "The user that uploaded version.",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "properties": {
                                        "name": {
                                            "description": "User full name.",
                                            "type": "string"
                                        },
                                        "id": {
                                            "description": "User Id.",
                                            "type": "string"
                                        },
                                        "email": {
                                            "description": "User email.",
                                            "type": "string"
                                        },
                                        "userName": {
                                            "description": "User Name as updated in user properties. Optional, appears if not the same as user email.",
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Files"
                ]
            }
        }
    }
}