{
    "swagger": "2.0",
    "info": {
        "title": "Quick Base API",
        "version": "1.0.0"
    },
    "host": "api.quickbase.com/v1",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/fields": {
            "get": {
                "description": "Gets the properties for all fields in a specific table. The properties for each field are the same as in Get field.",
                "summary": "Get fields for a table",
                "operationId": "getFields",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tableId",
                        "description": "The unique identifier (dbid) of the table.",
                        "required": true,
                        "in": "query",
                        "example": "bck7gp3q2",
                        "type": "string"
                    },
                    {
                        "name": "includeFieldPerms",
                        "description": "Set to 'true' if you'd like to get back the custom permissions for the field(s).",
                        "required": false,
                        "in": "query",
                        "default": false,
                        "example": false,
                        "type": "boolean"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": [
                                {
                                    "id": 1,
                                    "label": "Field1",
                                    "fieldType": "text",
                                    "noWrap": false,
                                    "bold": false,
                                    "required": false,
                                    "appearsByDefault": false,
                                    "findEnabled": false,
                                    "unique": false,
                                    "doesDataCopy": false,
                                    "fieldHelp": "field help",
                                    "audited": false,
                                    "properties": {
                                        "primaryKey": false,
                                        "foreignKey": false,
                                        "numLines": 1,
                                        "maxLength": 0,
                                        "appendOnly": false,
                                        "allowHTML": false,
                                        "allowMentions": false,
                                        "sortAsGiven": false,
                                        "carryChoices": true,
                                        "allowNewChoices": false,
                                        "formula": "",
                                        "defaultValue": ""
                                    },
                                    "permissions": [
                                        {
                                            "permissionType": "View",
                                            "role": "Viewer",
                                            "roleId": 10
                                        },
                                        {
                                            "permissionType": "None",
                                            "role": "Participant",
                                            "roleId": 11
                                        },
                                        {
                                            "permissionType": "Modify",
                                            "role": "Administrator",
                                            "roleId": 12
                                        }
                                    ]
                                },
                                {
                                    "id": 2,
                                    "label": "Numeric Field",
                                    "fieldType": "numeric",
                                    "appearsByDefault": true,
                                    "audited": false,
                                    "bold": false,
                                    "fieldHelp": "This is a numeric field",
                                    "findEnabled": false,
                                    "addToForms": true,
                                    "properties": {
                                        "numberFormat": 3,
                                        "decimalPlaces": 2,
                                        "doesAverage": true,
                                        "doesTotal": true,
                                        "blankIsZero": true
                                    },
                                    "permissions": [
                                        {
                                            "role": "Viewer",
                                            "permissionType": "View",
                                            "roleId": 10
                                        },
                                        {
                                            "role": "Participant",
                                            "permissionType": "Modify",
                                            "roleId": 11
                                        },
                                        {
                                            "role": "Administrator",
                                            "permissionType": "Modify",
                                            "roleId": 12
                                        }
                                    ]
                                }
                            ],
                            "type": "array",
                            "items": {
                                "example": {
                                    "id": 123,
                                    "label": "Field1",
                                    "fieldType": "text",
                                    "mode": "",
                                    "noWrap": false,
                                    "bold": false,
                                    "required": false,
                                    "appearsByDefault": false,
                                    "findEnabled": false,
                                    "unique": false,
                                    "doesDataCopy": false,
                                    "fieldHelp": "field help",
                                    "audited": false,
                                    "properties": {
                                        "primaryKey": false,
                                        "foreignKey": false,
                                        "numLines": 1,
                                        "maxLength": 0,
                                        "appendOnly": false,
                                        "allowHTML": false,
                                        "allowMentions": false,
                                        "sortAsGiven": false,
                                        "carryChoices": true,
                                        "allowNewChoices": false,
                                        "formula": "",
                                        "defaultValue": ""
                                    },
                                    "permissions": [
                                        {
                                            "permissionType": "View",
                                            "role": "Viewer",
                                            "roleId": 10
                                        },
                                        {
                                            "permissionType": "None",
                                            "role": "Participant",
                                            "roleId": 11
                                        },
                                        {
                                            "permissionType": "Modify",
                                            "role": "Administrator",
                                            "roleId": 12
                                        }
                                    ]
                                },
                                "type": "object",
                                "additionalProperties": true,
                                "required": [
                                    "id"
                                ],
                                "properties": {
                                    "id": {
                                        "description": "The id of the field, unique to this table.",
                                        "type": "integer",
                                        "format": "int64"
                                    },
                                    "fieldType": {
                                        "description": "The type of field, as described [here](https://help.quickbase.com/user-assistance/field_types.html).",
                                        "type": "string"
                                    },
                                    "mode": {
                                        "description": "For derived fields, this will be 'lookup', 'summary', or 'formula', to indicate the type of derived field.  For non-derived fields, this will be blank.",
                                        "type": "string"
                                    },
                                    "label": {
                                        "description": "The label (name) of the field.",
                                        "type": "string"
                                    },
                                    "noWrap": {
                                        "description": "Indicates if the field is configured to not wrap when displayed in the product.",
                                        "type": "boolean"
                                    },
                                    "bold": {
                                        "description": "Indicates if the field is configured to display in bold in the product.",
                                        "type": "boolean"
                                    },
                                    "required": {
                                        "description": "Indicates if the field is marked required.",
                                        "type": "boolean"
                                    },
                                    "appearsByDefault": {
                                        "description": "Indicates if the field is marked as a default in reports.",
                                        "type": "boolean"
                                    },
                                    "findEnabled": {
                                        "description": "Indicates if the field is marked as searchable.",
                                        "type": "boolean"
                                    },
                                    "unique": {
                                        "description": "Indicates if the field is marked unique.",
                                        "type": "boolean"
                                    },
                                    "doesDataCopy": {
                                        "description": "Indicates if the field data will copy when a user copies the record.",
                                        "type": "boolean"
                                    },
                                    "fieldHelp": {
                                        "description": "The configured help text shown to users within the product.",
                                        "type": "string"
                                    },
                                    "audited": {
                                        "description": "Indicates if the field is being tracked as part of Quickbase Audit Logs.",
                                        "type": "boolean"
                                    },
                                    "properties": {
                                        "description": "Additional properties for the field. Please see [Field type details](../fieldInfo) page for more details on the properties for each field type.",
                                        "type": "object",
                                        "additionalProperties": true,
                                        "properties": {
                                            "allowMentions": {
                                                "description": "If someone can @mention users in the rich text field to generate an email notification.",
                                                "type": "boolean"
                                            },
                                            "comments": {
                                                "description": "The comments entered on the field properties by an administrator.",
                                                "type": "string"
                                            },
                                            "doesTotal": {
                                                "description": "Whether this field totals in reports within the product.",
                                                "type": "boolean"
                                            },
                                            "autoSave": {
                                                "description": "Whether the link field will auto save.",
                                                "type": "boolean"
                                            },
                                            "defaultValueLuid": {
                                                "description": "Default user id value.",
                                                "type": "integer"
                                            },
                                            "useI18NFormat": {
                                                "description": "Whether phone numbers should be in E.164 standard international format.",
                                                "type": "boolean"
                                            },
                                            "maxVersions": {
                                                "description": "The maximum number of versions configured for a file attachment.",
                                                "type": "integer"
                                            },
                                            "carryChoices": {
                                                "description": "Whether the field should carry its multiple choice fields when copied.",
                                                "type": "boolean"
                                            },
                                            "format": {
                                                "description": "The format to display time.",
                                                "type": "integer"
                                            },
                                            "maxLength": {
                                                "description": "The maximum number of characters allowed for entry in Quickbase for this field.",
                                                "type": "integer"
                                            },
                                            "linkText": {
                                                "description": "The configured text value that replaces the URL that users see within the product.",
                                                "type": "string"
                                            },
                                            "parentFieldId": {
                                                "description": "The id of the parent composite field, when applicable.",
                                                "type": "integer"
                                            },
                                            "displayTimezone": {
                                                "description": "Indicates whether to display the timezone within the product.",
                                                "type": "boolean"
                                            },
                                            "summaryTargetFieldId": {
                                                "description": "The id of the field that is used to aggregate values from the child, when applicable. This displays 0 if the summary function doesn\u2019t require a field selection (like count).",
                                                "type": "integer"
                                            },
                                            "allowNewChoices": {
                                                "description": "Indicates if users can add new choices to a selection list.",
                                                "type": "boolean"
                                            },
                                            "masterChoiceFieldId": {
                                                "description": "The id of the field that is the reference in the relationship.",
                                                "type": "integer"
                                            },
                                            "defaultToday": {
                                                "description": "Indicates if the field value is defaulted today for new records.",
                                                "type": "boolean"
                                            },
                                            "units": {
                                                "description": "The units label.",
                                                "type": "string"
                                            },
                                            "lookupTargetFieldId": {
                                                "description": "The id of the field that is the target on the master table for this lookup.",
                                                "type": "integer"
                                            },
                                            "summaryFunction": {
                                                "description": "The summary accumulation function type.",
                                                "enum": [
                                                    "AVG",
                                                    "SUM",
                                                    "MAX",
                                                    "MIN",
                                                    "STD-DEV",
                                                    "COUNT",
                                                    "COMBINED-TEXT",
                                                    "COMBINED-USER",
                                                    "DISTINCT-COUNT"
                                                ],
                                                "type": "string"
                                            },
                                            "sourceFieldId": {
                                                "description": "The id of the source field.",
                                                "type": "integer"
                                            },
                                            "masterTableTag": {
                                                "description": "The table alias for the master table in the relationship this field is part of.",
                                                "type": "string"
                                            },
                                            "doesAverage": {
                                                "description": "Whether this field averages in reports within the product.",
                                                "type": "boolean"
                                            },
                                            "formula": {
                                                "description": "The formula of the field as configured in Quickbase.",
                                                "type": "string"
                                            },
                                            "decimalPlaces": {
                                                "description": "The number of decimal places displayed in the product for this field.",
                                                "type": "integer"
                                            },
                                            "defaultCountryCode": {
                                                "description": "Controls the default country shown on international phone widgets on forms. Country code should be entered in the ISO 3166-1 alpha-2 format.",
                                                "type": "string"
                                            },
                                            "seeVersions": {
                                                "description": "Indicates if the user can see other versions, aside from the most recent, of a file attachment within the product.",
                                                "type": "boolean"
                                            },
                                            "displayMonth": {
                                                "description": "How to display months.",
                                                "type": "string"
                                            },
                                            "numLines": {
                                                "description": "The number of lines shown in Quickbase for this text field.",
                                                "type": "integer"
                                            },
                                            "displayEmail": {
                                                "description": "How the email is displayed.",
                                                "type": "string"
                                            },
                                            "defaultKind": {
                                                "description": "The user default type.",
                                                "type": "string"
                                            },
                                            "coverText": {
                                                "description": "An alternate user friendly text that can be used to display a link in the browser.",
                                                "type": "string"
                                            },
                                            "currencySymbol": {
                                                "description": "The current symbol used when displaying field values within the product.",
                                                "type": "string"
                                            },
                                            "masterChoiceTableId": {
                                                "description": "The id of the table that is the master in this relationship.",
                                                "type": "string"
                                            },
                                            "targetFieldId": {
                                                "description": "The id of the target field.",
                                                "type": "integer"
                                            },
                                            "displayUser": {
                                                "description": "The configured option for how users display within the product.",
                                                "type": "string"
                                            },
                                            "blankIsZero": {
                                                "description": "Whether a blank value is treated the same as 0 in calculations within the product.",
                                                "type": "boolean"
                                            },
                                            "exact": {
                                                "description": "Whether an exact match is required for a report link.",
                                                "type": "boolean"
                                            },
                                            "startField": {
                                                "description": "The start field id.",
                                                "type": "integer"
                                            },
                                            "defaultDomain": {
                                                "description": "Default email domain.",
                                                "type": "string"
                                            },
                                            "defaultValue": {
                                                "description": "The default value configured for a field when a new record is added.",
                                                "type": "string"
                                            },
                                            "choicesLuid": {
                                                "description": "List of user choices.",
                                                "type": "array"
                                            },
                                            "abbreviate": {
                                                "description": "Don't show the URL protocol when showing the URL.",
                                                "type": "boolean"
                                            },
                                            "xmlTag": {
                                                "description": "The field's xml tag.",
                                                "type": "string"
                                            },
                                            "targetTableName": {
                                                "description": "The field's target table name.",
                                                "type": "string"
                                            },
                                            "numberFormat": {
                                                "description": "The format used for displaying numeric values in the product (decimal, separators, digit group).",
                                                "type": "integer"
                                            },
                                            "appearsAs": {
                                                "description": "The link text, if empty, the url will be used as link text.",
                                                "type": "string"
                                            },
                                            "width": {
                                                "description": "The field's html input width in the product.",
                                                "type": "integer"
                                            },
                                            "currencyFormat": {
                                                "description": "The currency format used when displaying field values within the product.",
                                                "enum": [
                                                    "left",
                                                    "right",
                                                    "middle"
                                                ],
                                                "type": "string"
                                            },
                                            "foreignKey": {
                                                "description": "Indicates if the field is a foreign key (or reference field) in a relationship.",
                                                "type": "boolean"
                                            },
                                            "displayDayOfWeek": {
                                                "description": "Indicates whether to display the day of the week within the product.",
                                                "type": "boolean"
                                            },
                                            "summaryReferenceFieldId": {
                                                "description": "The id of the field that is the reference in the relationship for this summary.",
                                                "type": "integer",
                                                "format": "int64"
                                            },
                                            "commaStart": {
                                                "description": "The number of digits before commas display in the product, when applicable.",
                                                "type": "integer"
                                            },
                                            "choices": {
                                                "description": "An array of entries that exist for a field that offers choices to the user.",
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "targetTableId": {
                                                "description": "The id of the target table.",
                                                "type": "string"
                                            },
                                            "displayRelative": {
                                                "description": "Whether to display time as relative.",
                                                "type": "boolean"
                                            },
                                            "compositeFields": {
                                                "description": "An array of the fields that make up a composite field (e.g., address).",
                                                "type": "array"
                                            },
                                            "displayCheckboxAsText": {
                                                "description": "Indicates whether the checkbox values will be shown as text in reports.",
                                                "type": "boolean"
                                            },
                                            "versionMode": {
                                                "description": "Version modes for files. Keep all versions vs keep last version.",
                                                "enum": [
                                                    "keepallversions",
                                                    "keeplastversions"
                                                ],
                                                "type": "string"
                                            },
                                            "displayTime": {
                                                "description": "Indicates whether to display the time, in addition to the date.",
                                                "type": "boolean"
                                            },
                                            "durationField": {
                                                "description": "The duration field id.",
                                                "type": "integer"
                                            },
                                            "snapFieldId": {
                                                "description": "The id of the field that is used to snapshot values from, when applicable.",
                                                "type": "integer"
                                            },
                                            "hours24": {
                                                "description": "Indicates whether or not to display time in the 24-hour format within the product.",
                                                "type": "boolean"
                                            },
                                            "sortAlpha": {
                                                "description": "Whether to sort alphabetically, default sort is by record ID.",
                                                "type": "boolean"
                                            },
                                            "sortAsGiven": {
                                                "description": "Indicates if the listed entries sort as entered vs alphabetically.",
                                                "type": "boolean"
                                            },
                                            "hasExtension": {
                                                "description": "Whether this field has a phone extension.",
                                                "type": "boolean"
                                            },
                                            "workWeek": {
                                                "description": "The work week type.",
                                                "type": "integer"
                                            },
                                            "useNewWindow": {
                                                "description": "Indicates if the URL should open a new window when a user clicks it within the product.",
                                                "type": "boolean"
                                            },
                                            "appendOnly": {
                                                "description": "Whether this field is append only.",
                                                "type": "boolean"
                                            },
                                            "displayAsLink": {
                                                "description": "Indicates if a field that is part of the relationship should be shown as a hyperlink to the parent record within the product.",
                                                "type": "boolean"
                                            },
                                            "allowHTML": {
                                                "description": "Whether this field allows html.",
                                                "type": "boolean"
                                            },
                                            "lookupReferenceFieldId": {
                                                "description": "The id of the field that is the reference in the relationship for this lookup.",
                                                "type": "integer"
                                            }
                                        }
                                    },
                                    "permissions": {
                                        "description": "Field Permissions for different roles.",
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "additionalProperties": false,
                                            "properties": {
                                                "role": {
                                                    "description": "The role associated with a given permission for the field",
                                                    "type": "string"
                                                },
                                                "permissionType": {
                                                    "description": "The permission given to the role for this field",
                                                    "type": "string"
                                                },
                                                "roleId": {
                                                    "description": "The Id of the given role",
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Fields"
                ]
            },
            "post": {
                "description": "Creates a field within a table, including the custom permissions of that field.",
                "summary": "Create a field",
                "operationId": "createField",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tableId",
                        "description": "The unique identifier of the table.",
                        "required": true,
                        "in": "query",
                        "example": "bck7gp3q2",
                        "type": "string"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "The example below shows all the properties that can be changed with this request. Additional properties that you can see with the corresponding GET request cannot be set through this API.",
                            "example": {
                                "label": "Field1",
                                "fieldType": "text",
                                "noWrap": false,
                                "bold": false,
                                "appearsByDefault": false,
                                "findEnabled": false,
                                "fieldHelp": "field help",
                                "addToForms": true,
                                "properties": {
                                    "maxLength": 0,
                                    "appendOnly": false,
                                    "sortAsGiven": false
                                },
                                "permissions": [
                                    {
                                        "role": "Viewer",
                                        "permissionType": "View",
                                        "roleId": 10
                                    },
                                    {
                                        "role": "Participant",
                                        "permissionType": "None",
                                        "roleId": 11
                                    },
                                    {
                                        "role": "Administrator",
                                        "permissionType": "Modify",
                                        "roleId": 12
                                    }
                                ]
                            },
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                                "fieldType",
                                "label"
                            ],
                            "properties": {
                                "audited": {
                                    "description": "Indicates if the field is being tracked as part of Quickbase Audit Logs. You can only set this property to \"true\" if the app has audit logs enabled. See Enable data change logs under [Quickbase Audit Logs](https://help.quickbase.com/user-assistance/audit_logs.html). Defaults to false.",
                                    "type": "boolean"
                                },
                                "fieldHelp": {
                                    "description": "The configured help text shown to users within the product.",
                                    "type": "string"
                                },
                                "bold": {
                                    "description": "Indicates if the field is configured to display in bold in the product. Defaults to false.",
                                    "type": "boolean"
                                },
                                "properties": {
                                    "description": "Specific field properties.",
                                    "type": "object",
                                    "additionalProperties": false,
                                    "properties": {
                                        "allowMentions": {
                                            "description": "If someone can @mention users in the rich text field to generate an email notification.",
                                            "type": "boolean"
                                        },
                                        "comments": {
                                            "description": "The comments entered on the field properties by an administrator.",
                                            "type": "string"
                                        },
                                        "doesTotal": {
                                            "description": "Whether this field totals in reports within the product.",
                                            "type": "boolean"
                                        },
                                        "autoSave": {
                                            "description": "Whether the link field will auto save.",
                                            "type": "boolean"
                                        },
                                        "defaultValueLuid": {
                                            "description": "Default user id value.",
                                            "type": "integer"
                                        },
                                        "useI18NFormat": {
                                            "description": "Whether phone numbers should be in E.164 standard international format",
                                            "type": "boolean"
                                        },
                                        "maxVersions": {
                                            "description": "The maximum number of versions configured for a file attachment.",
                                            "type": "integer",
                                            "format": "int32",
                                            "minimum": 1
                                        },
                                        "format": {
                                            "description": "The format to display time.",
                                            "type": "integer"
                                        },
                                        "carryChoices": {
                                            "description": "Whether the field should carry its multiple choice fields when copied.",
                                            "type": "boolean"
                                        },
                                        "maxLength": {
                                            "description": "The maximum number of characters allowed for entry in Quickbase for this field.",
                                            "type": "integer"
                                        },
                                        "linkText": {
                                            "description": "The configured text value that replaces the URL that users see within the product.",
                                            "type": "string"
                                        },
                                        "parentFieldId": {
                                            "description": "The id of the parent composite field, when applicable.",
                                            "type": "integer"
                                        },
                                        "displayTimezone": {
                                            "description": "Indicates whether to display the timezone within the product.",
                                            "type": "boolean"
                                        },
                                        "allowNewChoices": {
                                            "description": "Indicates if users can add new choices to a selection list.",
                                            "type": "boolean"
                                        },
                                        "defaultToday": {
                                            "description": "Indicates if the field value is defaulted today for new records.",
                                            "type": "boolean"
                                        },
                                        "units": {
                                            "description": "The units label.",
                                            "type": "string"
                                        },
                                        "openTargetIn": {
                                            "description": "Indicates which target the URL should open in when a user clicks it within the product.",
                                            "enum": [
                                                "sameWindow",
                                                "newWindow",
                                                "popup"
                                            ],
                                            "type": "string"
                                        },
                                        "sourceFieldId": {
                                            "description": "The id of the source field.",
                                            "type": "integer"
                                        },
                                        "doesAverage": {
                                            "description": "Whether this field averages in reports within the product.",
                                            "type": "boolean"
                                        },
                                        "formula": {
                                            "description": "The formula of the field as configured in Quickbase.",
                                            "type": "string"
                                        },
                                        "decimalPlaces": {
                                            "description": "The number of decimal places displayed in the product for this field.",
                                            "type": "integer"
                                        },
                                        "defaultCountryCode": {
                                            "description": "Controls the default country shown on international phone widgets on forms. Country code should be entered in the ISO 3166-1 alpha-2 format.",
                                            "type": "string"
                                        },
                                        "displayMonth": {
                                            "description": "How to display months.",
                                            "type": "string"
                                        },
                                        "seeVersions": {
                                            "description": "Indicates if the user can see other versions, aside from the most recent, of a file attachment within the product.",
                                            "type": "boolean"
                                        },
                                        "numLines": {
                                            "description": "The number of lines shown in Quickbase for this text field.",
                                            "type": "integer"
                                        },
                                        "defaultKind": {
                                            "description": "The user default type.",
                                            "type": "string"
                                        },
                                        "displayEmail": {
                                            "description": "How the email is displayed.",
                                            "type": "string"
                                        },
                                        "coverText": {
                                            "description": "An alternate user friendly text that can be used to display a link in the browser.",
                                            "type": "string"
                                        },
                                        "currencySymbol": {
                                            "description": "The current symbol used when displaying field values within the product.",
                                            "type": "string"
                                        },
                                        "targetFieldId": {
                                            "description": "The id of the target field.",
                                            "type": "integer"
                                        },
                                        "displayUser": {
                                            "description": "The configured option for how users display within the product.",
                                            "type": "string"
                                        },
                                        "blankIsZero": {
                                            "description": "Whether a blank value is treated the same as 0 in calculations within the product.",
                                            "type": "boolean"
                                        },
                                        "exact": {
                                            "description": "Whether an exact match is required for a report link.",
                                            "type": "boolean"
                                        },
                                        "defaultDomain": {
                                            "description": "Default email domain.",
                                            "type": "string"
                                        },
                                        "defaultValue": {
                                            "description": "The default value configured for a field when a new record is added.",
                                            "type": "string"
                                        },
                                        "abbreviate": {
                                            "description": "Don't show the URL protocol when showing the URL.",
                                            "type": "boolean"
                                        },
                                        "numberFormat": {
                                            "description": "The format used for displaying numeric values in the product (decimal, separators, digit group).",
                                            "type": "integer"
                                        },
                                        "targetTableName": {
                                            "description": "The field's target table name.",
                                            "type": "string"
                                        },
                                        "appearsAs": {
                                            "description": "The link text, if empty, the url will be used as link text.",
                                            "type": "string"
                                        },
                                        "width": {
                                            "description": "The field's html input width in the product.",
                                            "type": "integer"
                                        },
                                        "currencyFormat": {
                                            "description": "The currency format used when displaying field values within the product.",
                                            "enum": [
                                                "left",
                                                "right",
                                                "middle"
                                            ],
                                            "type": "string"
                                        },
                                        "displayDayOfWeek": {
                                            "description": "Indicates whether to display the day of the week within the product.",
                                            "type": "boolean"
                                        },
                                        "commaStart": {
                                            "description": "The number of digits before commas display in the product, when applicable.",
                                            "type": "integer"
                                        },
                                        "choices": {
                                            "description": "An array of entries that exist for a field that offers choices to the user. Note that these choices refer to the valid values of any records added in the future. You are allowed to remove values from the list of choices even if there are existing records with those values in this field. They will be displayed in red when users look at the data in the browser but there is no other effect. While updating a field with this property, the old choices are removed and replaced by the new choices.",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "targetTableId": {
                                            "description": "The id of the target table.",
                                            "type": "string"
                                        },
                                        "displayRelative": {
                                            "description": "Whether to display time as relative.",
                                            "type": "boolean"
                                        },
                                        "compositeFields": {
                                            "description": "An array of the fields that make up a composite field (e.g., address).",
                                            "type": "array"
                                        },
                                        "displayCheckboxAsText": {
                                            "description": "Indicates whether the checkbox values will be shown as text in reports.",
                                            "type": "boolean"
                                        },
                                        "displayTime": {
                                            "description": "Indicates whether to display the time, in addition to the date.",
                                            "type": "boolean"
                                        },
                                        "versionMode": {
                                            "description": "Version modes for files. Keep all versions vs keep last version.",
                                            "enum": [
                                                "keepallversions",
                                                "keeplastversions"
                                            ],
                                            "type": "string"
                                        },
                                        "snapFieldId": {
                                            "description": "The id of the field that is used to snapshot values from, when applicable.",
                                            "type": "integer"
                                        },
                                        "hours24": {
                                            "description": "Indicates whether or not to display time in the 24-hour format within the product.",
                                            "type": "boolean"
                                        },
                                        "sortAlpha": {
                                            "description": "Whether to sort alphabetically, default sort is by record ID.",
                                            "type": "boolean"
                                        },
                                        "sortAsGiven": {
                                            "description": "Indicates if the listed entries sort as entered vs alphabetically.",
                                            "type": "boolean"
                                        },
                                        "hasExtension": {
                                            "description": "Whether this field has a phone extension.",
                                            "type": "boolean"
                                        },
                                        "useNewWindow": {
                                            "description": "Indicates if the file should open a new window when a user clicks it within the product.",
                                            "type": "boolean"
                                        },
                                        "appendOnly": {
                                            "description": "Whether this field is append only.",
                                            "type": "boolean"
                                        },
                                        "displayAsLink": {
                                            "description": "Indicates if a field that is part of the relationship should be shown as a hyperlink to the parent record within the product.",
                                            "type": "boolean"
                                        }
                                    }
                                },
                                "appearsByDefault": {
                                    "description": "Indicates if the field is marked as a default in reports. Defaults to true.",
                                    "type": "boolean"
                                },
                                "fieldType": {
                                    "description": "The [field types](https://help.quickbase.com/user-assistance/field_types.html), click on any of the field type links for more info.",
                                    "enum": [
                                        "text",
                                        "text-multiple-choice",
                                        "text-multi-line",
                                        "rich-text",
                                        "numeric",
                                        "currency",
                                        "rating",
                                        "percent",
                                        "multitext",
                                        "email",
                                        "url",
                                        "duration",
                                        "date",
                                        "datetime",
                                        "timestamp",
                                        "timeofday",
                                        "checkbox",
                                        "user",
                                        "multiuser",
                                        "address",
                                        "phone",
                                        "file"
                                    ],
                                    "type": "string"
                                },
                                "permissions": {
                                    "description": "Field Permissions for different roles.",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                            "role": {
                                                "description": "The role associated with a given permission for the field",
                                                "type": "string"
                                            },
                                            "permissionType": {
                                                "description": "The permission given to the role for this field",
                                                "type": "string"
                                            },
                                            "roleId": {
                                                "description": "The Id of the given role",
                                                "type": "integer"
                                            }
                                        }
                                    }
                                },
                                "addToForms": {
                                    "description": "Whether the field you are adding should appear on forms. Defaults to false.",
                                    "type": "boolean"
                                },
                                "label": {
                                    "description": "The label (name) of the field.",
                                    "type": "string"
                                },
                                "findEnabled": {
                                    "description": "Indicates if the field is marked as searchable. Defaults to true.",
                                    "type": "boolean"
                                },
                                "noWrap": {
                                    "description": "Indicates if the field is configured to not wrap when displayed in the product. Defaults to false.",
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "id": 123,
                                "label": "Field1",
                                "fieldType": "text",
                                "mode": "",
                                "noWrap": false,
                                "bold": false,
                                "required": false,
                                "appearsByDefault": false,
                                "findEnabled": false,
                                "unique": false,
                                "doesDataCopy": false,
                                "fieldHelp": "field help",
                                "audited": false,
                                "properties": {
                                    "primaryKey": false,
                                    "foreignKey": false,
                                    "numLines": 1,
                                    "maxLength": 0,
                                    "appendOnly": false,
                                    "allowHTML": false,
                                    "allowMentions": false,
                                    "sortAsGiven": false,
                                    "carryChoices": true,
                                    "allowNewChoices": false,
                                    "formula": "",
                                    "defaultValue": ""
                                },
                                "permissions": [
                                    {
                                        "permissionType": "View",
                                        "role": "Viewer",
                                        "roleId": 10
                                    },
                                    {
                                        "permissionType": "None",
                                        "role": "Participant",
                                        "roleId": 11
                                    },
                                    {
                                        "permissionType": "Modify",
                                        "role": "Administrator",
                                        "roleId": 12
                                    }
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "id"
                            ],
                            "properties": {
                                "id": {
                                    "description": "The id of the field, unique to this table.",
                                    "type": "integer",
                                    "format": "int64"
                                },
                                "fieldType": {
                                    "description": "The type of field, as described [here](https://help.quickbase.com/user-assistance/field_types.html).",
                                    "type": "string"
                                },
                                "mode": {
                                    "description": "For derived fields, this will be 'lookup', 'summary', or 'formula', to indicate the type of derived field.  For non-derived fields, this will be blank.",
                                    "type": "string"
                                },
                                "label": {
                                    "description": "The label (name) of the field.",
                                    "type": "string"
                                },
                                "noWrap": {
                                    "description": "Indicates if the field is configured to not wrap when displayed in the product.",
                                    "type": "boolean"
                                },
                                "bold": {
                                    "description": "Indicates if the field is configured to display in bold in the product.",
                                    "type": "boolean"
                                },
                                "required": {
                                    "description": "Indicates if the field is marked required.",
                                    "type": "boolean"
                                },
                                "appearsByDefault": {
                                    "description": "Indicates if the field is marked as a default in reports.",
                                    "type": "boolean"
                                },
                                "findEnabled": {
                                    "description": "Indicates if the field is marked as searchable.",
                                    "type": "boolean"
                                },
                                "unique": {
                                    "description": "Indicates if the field is marked unique.",
                                    "type": "boolean"
                                },
                                "doesDataCopy": {
                                    "description": "Indicates if the field data will copy when a user copies the record.",
                                    "type": "boolean"
                                },
                                "fieldHelp": {
                                    "description": "The configured help text shown to users within the product.",
                                    "type": "string"
                                },
                                "audited": {
                                    "description": "Indicates if the field is being tracked as part of Quickbase Audit Logs.",
                                    "type": "boolean"
                                },
                                "properties": {
                                    "description": "Additional properties for the field. Please see [Field type details](../fieldInfo) page for more details on the properties for each field type.",
                                    "type": "object",
                                    "additionalProperties": true,
                                    "properties": {
                                        "allowMentions": {
                                            "description": "If someone can @mention users in the rich text field to generate an email notification.",
                                            "type": "boolean"
                                        },
                                        "comments": {
                                            "description": "The comments entered on the field properties by an administrator.",
                                            "type": "string"
                                        },
                                        "doesTotal": {
                                            "description": "Whether this field totals in reports within the product.",
                                            "type": "boolean"
                                        },
                                        "autoSave": {
                                            "description": "Whether the link field will auto save.",
                                            "type": "boolean"
                                        },
                                        "defaultValueLuid": {
                                            "description": "Default user id value.",
                                            "type": "integer"
                                        },
                                        "useI18NFormat": {
                                            "description": "Whether phone numbers should be in E.164 standard international format.",
                                            "type": "boolean"
                                        },
                                        "maxVersions": {
                                            "description": "The maximum number of versions configured for a file attachment.",
                                            "type": "integer"
                                        },
                                        "carryChoices": {
                                            "description": "Whether the field should carry its multiple choice fields when copied.",
                                            "type": "boolean"
                                        },
                                        "format": {
                                            "description": "The format to display time.",
                                            "type": "integer"
                                        },
                                        "maxLength": {
                                            "description": "The maximum number of characters allowed for entry in Quickbase for this field.",
                                            "type": "integer"
                                        },
                                        "linkText": {
                                            "description": "The configured text value that replaces the URL that users see within the product.",
                                            "type": "string"
                                        },
                                        "parentFieldId": {
                                            "description": "The id of the parent composite field, when applicable.",
                                            "type": "integer"
                                        },
                                        "displayTimezone": {
                                            "description": "Indicates whether to display the timezone within the product.",
                                            "type": "boolean"
                                        },
                                        "summaryTargetFieldId": {
                                            "description": "The id of the field that is used to aggregate values from the child, when applicable. This displays 0 if the summary function doesn\u2019t require a field selection (like count).",
                                            "type": "integer"
                                        },
                                        "allowNewChoices": {
                                            "description": "Indicates if users can add new choices to a selection list.",
                                            "type": "boolean"
                                        },
                                        "masterChoiceFieldId": {
                                            "description": "The id of the field that is the reference in the relationship.",
                                            "type": "integer"
                                        },
                                        "defaultToday": {
                                            "description": "Indicates if the field value is defaulted today for new records.",
                                            "type": "boolean"
                                        },
                                        "units": {
                                            "description": "The units label.",
                                            "type": "string"
                                        },
                                        "lookupTargetFieldId": {
                                            "description": "The id of the field that is the target on the master table for this lookup.",
                                            "type": "integer"
                                        },
                                        "summaryFunction": {
                                            "description": "The summary accumulation function type.",
                                            "enum": [
                                                "AVG",
                                                "SUM",
                                                "MAX",
                                                "MIN",
                                                "STD-DEV",
                                                "COUNT",
                                                "COMBINED-TEXT",
                                                "COMBINED-USER",
                                                "DISTINCT-COUNT"
                                            ],
                                            "type": "string"
                                        },
                                        "sourceFieldId": {
                                            "description": "The id of the source field.",
                                            "type": "integer"
                                        },
                                        "masterTableTag": {
                                            "description": "The table alias for the master table in the relationship this field is part of.",
                                            "type": "string"
                                        },
                                        "doesAverage": {
                                            "description": "Whether this field averages in reports within the product.",
                                            "type": "boolean"
                                        },
                                        "formula": {
                                            "description": "The formula of the field as configured in Quickbase.",
                                            "type": "string"
                                        },
                                        "decimalPlaces": {
                                            "description": "The number of decimal places displayed in the product for this field.",
                                            "type": "integer"
                                        },
                                        "defaultCountryCode": {
                                            "description": "Controls the default country shown on international phone widgets on forms. Country code should be entered in the ISO 3166-1 alpha-2 format.",
                                            "type": "string"
                                        },
                                        "seeVersions": {
                                            "description": "Indicates if the user can see other versions, aside from the most recent, of a file attachment within the product.",
                                            "type": "boolean"
                                        },
                                        "displayMonth": {
                                            "description": "How to display months.",
                                            "type": "string"
                                        },
                                        "numLines": {
                                            "description": "The number of lines shown in Quickbase for this text field.",
                                            "type": "integer"
                                        },
                                        "displayEmail": {
                                            "description": "How the email is displayed.",
                                            "type": "string"
                                        },
                                        "defaultKind": {
                                            "description": "The user default type.",
                                            "type": "string"
                                        },
                                        "coverText": {
                                            "description": "An alternate user friendly text that can be used to display a link in the browser.",
                                            "type": "string"
                                        },
                                        "currencySymbol": {
                                            "description": "The current symbol used when displaying field values within the product.",
                                            "type": "string"
                                        },
                                        "masterChoiceTableId": {
                                            "description": "The id of the table that is the master in this relationship.",
                                            "type": "string"
                                        },
                                        "targetFieldId": {
                                            "description": "The id of the target field.",
                                            "type": "integer"
                                        },
                                        "displayUser": {
                                            "description": "The configured option for how users display within the product.",
                                            "type": "string"
                                        },
                                        "blankIsZero": {
                                            "description": "Whether a blank value is treated the same as 0 in calculations within the product.",
                                            "type": "boolean"
                                        },
                                        "exact": {
                                            "description": "Whether an exact match is required for a report link.",
                                            "type": "boolean"
                                        },
                                        "startField": {
                                            "description": "The start field id.",
                                            "type": "integer"
                                        },
                                        "defaultDomain": {
                                            "description": "Default email domain.",
                                            "type": "string"
                                        },
                                        "defaultValue": {
                                            "description": "The default value configured for a field when a new record is added.",
                                            "type": "string"
                                        },
                                        "choicesLuid": {
                                            "description": "List of user choices.",
                                            "type": "array"
                                        },
                                        "abbreviate": {
                                            "description": "Don't show the URL protocol when showing the URL.",
                                            "type": "boolean"
                                        },
                                        "xmlTag": {
                                            "description": "The field's xml tag.",
                                            "type": "string"
                                        },
                                        "targetTableName": {
                                            "description": "The field's target table name.",
                                            "type": "string"
                                        },
                                        "numberFormat": {
                                            "description": "The format used for displaying numeric values in the product (decimal, separators, digit group).",
                                            "type": "integer"
                                        },
                                        "appearsAs": {
                                            "description": "The link text, if empty, the url will be used as link text.",
                                            "type": "string"
                                        },
                                        "width": {
                                            "description": "The field's html input width in the product.",
                                            "type": "integer"
                                        },
                                        "currencyFormat": {
                                            "description": "The currency format used when displaying field values within the product.",
                                            "enum": [
                                                "left",
                                                "right",
                                                "middle"
                                            ],
                                            "type": "string"
                                        },
                                        "foreignKey": {
                                            "description": "Indicates if the field is a foreign key (or reference field) in a relationship.",
                                            "type": "boolean"
                                        },
                                        "displayDayOfWeek": {
                                            "description": "Indicates whether to display the day of the week within the product.",
                                            "type": "boolean"
                                        },
                                        "summaryReferenceFieldId": {
                                            "description": "The id of the field that is the reference in the relationship for this summary.",
                                            "type": "integer",
                                            "format": "int64"
                                        },
                                        "commaStart": {
                                            "description": "The number of digits before commas display in the product, when applicable.",
                                            "type": "integer"
                                        },
                                        "choices": {
                                            "description": "An array of entries that exist for a field that offers choices to the user.",
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "targetTableId": {
                                            "description": "The id of the target table.",
                                            "type": "string"
                                        },
                                        "displayRelative": {
                                            "description": "Whether to display time as relative.",
                                            "type": "boolean"
                                        },
                                        "compositeFields": {
                                            "description": "An array of the fields that make up a composite field (e.g., address).",
                                            "type": "array"
                                        },
                                        "displayCheckboxAsText": {
                                            "description": "Indicates whether the checkbox values will be shown as text in reports.",
                                            "type": "boolean"
                                        },
                                        "versionMode": {
                                            "description": "Version modes for files. Keep all versions vs keep last version.",
                                            "enum": [
                                                "keepallversions",
                                                "keeplastversions"
                                            ],
                                            "type": "string"
                                        },
                                        "displayTime": {
                                            "description": "Indicates whether to display the time, in addition to the date.",
                                            "type": "boolean"
                                        },
                                        "durationField": {
                                            "description": "The duration field id.",
                                            "type": "integer"
                                        },
                                        "snapFieldId": {
                                            "description": "The id of the field that is used to snapshot values from, when applicable.",
                                            "type": "integer"
                                        },
                                        "hours24": {
                                            "description": "Indicates whether or not to display time in the 24-hour format within the product.",
                                            "type": "boolean"
                                        },
                                        "sortAlpha": {
                                            "description": "Whether to sort alphabetically, default sort is by record ID.",
                                            "type": "boolean"
                                        },
                                        "sortAsGiven": {
                                            "description": "Indicates if the listed entries sort as entered vs alphabetically.",
                                            "type": "boolean"
                                        },
                                        "hasExtension": {
                                            "description": "Whether this field has a phone extension.",
                                            "type": "boolean"
                                        },
                                        "workWeek": {
                                            "description": "The work week type.",
                                            "type": "integer"
                                        },
                                        "useNewWindow": {
                                            "description": "Indicates if the URL should open a new window when a user clicks it within the product.",
                                            "type": "boolean"
                                        },
                                        "appendOnly": {
                                            "description": "Whether this field is append only.",
                                            "type": "boolean"
                                        },
                                        "displayAsLink": {
                                            "description": "Indicates if a field that is part of the relationship should be shown as a hyperlink to the parent record within the product.",
                                            "type": "boolean"
                                        },
                                        "allowHTML": {
                                            "description": "Whether this field allows html.",
                                            "type": "boolean"
                                        },
                                        "lookupReferenceFieldId": {
                                            "description": "The id of the field that is the reference in the relationship for this lookup.",
                                            "type": "integer"
                                        }
                                    }
                                },
                                "permissions": {
                                    "description": "Field Permissions for different roles.",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": false,
                                        "properties": {
                                            "role": {
                                                "description": "The role associated with a given permission for the field",
                                                "type": "string"
                                            },
                                            "permissionType": {
                                                "description": "The permission given to the role for this field",
                                                "type": "string"
                                            },
                                            "roleId": {
                                                "description": "The Id of the given role",
                                                "type": "integer"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Fields"
                ]
            },
            "delete": {
                "description": "Deletes one or many fields in a table, based on field id. This will also permanently delete any data or calculations in that field.",
                "summary": "Delete field(s)",
                "operationId": "deleteFields",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "tableId",
                        "description": "The unique identifier of the table.",
                        "required": true,
                        "in": "query",
                        "example": "bck7gp3q2",
                        "type": "string"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
[...]
