{
    "swagger": "2.0",
    "info": {
        "title": "Quick Base API",
        "version": "1.0.0"
    },
    "host": "api.quickbase.com/v1",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/groups/{gid}/members": {
            "post": {
                "description": "Adds a list of users to a given group as members.",
                "summary": "Add members",
                "operationId": "addMembersToGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of user IDs that will be added to a group.",
                            "example": [
                                "123456.ryyw",
                                "423123.b3x5",
                                "100000.be8s"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the user to be added to a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "123456.ryyw",
                                    "423123.b3x5"
                                ],
                                "success": [
                                    "100000.be8s"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of users that couldn\u2019t be added to the group. This includes a list of IDs that represent invalid users and users who have already been added to the group.",
                                    "example": [
                                        "423123.b3x5",
                                        "123456.ryyw"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of users that have been added to the group successfully.",
                                    "example": [
                                        "100000.be8s"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "delete": {
                "description": "Removes a list of members from a given group.",
                "summary": "Remove members",
                "operationId": "removeMembersFromGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of user IDs that will be removed from a group.",
                            "example": [
                                "123456.ryyw",
                                "423123.b3x5",
                                "100000.be8s"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the user to be removed from a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "123456.ryyw",
                                    "423123.b3x5"
                                ],
                                "success": [
                                    "100000.be8s"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of users that couldn\u2019t be removed from the group. This includes a list of IDs that represent invalid users.",
                                    "example": [
                                        "423123.b3x5",
                                        "123456.ryyw"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of users that have been removed from the group successfully.",
                                    "example": [
                                        "100000.be8s"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/groups/{gid}/managers": {
            "post": {
                "description": "Adds a list of users to a given group as managers.",
                "summary": "Add managers",
                "operationId": "addManagersToGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of user IDs that will be added to a group.",
                            "example": [
                                "123456.ryyw",
                                "423123.b3x5",
                                "100000.be8s"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the user to be added to a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "123456.ryyw",
                                    "423123.b3x5"
                                ],
                                "success": [
                                    "100000.be8s"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of users that couldn\u2019t be added to the group. This includes a list of IDs that represent invalid users and users who have already been added to the group.",
                                    "example": [
                                        "423123.b3x5",
                                        "123456.ryyw"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of users that have been added to the group successfully.",
                                    "example": [
                                        "100000.be8s"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "delete": {
                "description": "Removes a list of managers from a given group.",
                "summary": "Remove managers",
                "operationId": "removeManagersFromGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of user IDs that will be removed from a group.",
                            "example": [
                                "123456.ryyw",
                                "423123.b3x5",
                                "100000.be8s"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the user to be removed from a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "123456.ryyw",
                                    "423123.b3x5"
                                ],
                                "success": [
                                    "100000.be8s"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of users that couldn\u2019t be removed from the group. This includes a list of IDs that represent invalid users.",
                                    "example": [
                                        "423123.b3x5",
                                        "123456.ryyw"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of users that have been removed from the group successfully.",
                                    "example": [
                                        "100000.be8s"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        },
        "/groups/{gid}/subgroups": {
            "post": {
                "description": "Adds a list of groups to a given group.",
                "summary": "Add child groups",
                "operationId": "addSubgroupsToGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of group IDs that will be added to a group.",
                            "example": [
                                "1002.czm8",
                                "1003.bar3"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the child group to be added to a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "1002.czm8"
                                ],
                                "success": [
                                    "1003.bar3"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of child groups that couldn\u2019t be added to the group. This includes a list of IDs that represent invalid groups and groups that have already been added to the group.",
                                    "example": [
                                        "1002.czm8"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of child groups that have been added to the group successfully.",
                                    "example": [
                                        "1003.bar3"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            },
            "delete": {
                "description": "Removes a list of groups from a given group.",
                "summary": "Remove child groups",
                "operationId": "removeSubgroupsFromGroup",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "gid",
                        "description": "This is the ID of the group being modified.",
                        "required": true,
                        "in": "path",
                        "example": 1011,
                        "type": "number"
                    },
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "This is entered by the person or utility invoking the API. You might custom create this or use the default one of your toolkit. Being descriptive here may offer more identification and troubleshooting capabilities.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "description": "A list of group IDs that will be removed from a group.",
                            "example": [
                                "1002.czm8",
                                "1003.bar3"
                            ],
                            "type": "array",
                            "maxItems": 1000,
                            "minItems": 1,
                            "uniqueItems": true,
                            "items": {
                                "description": "The Id and its hash value of the child group to be removed from a group.",
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "failure": [
                                    "1002.czm8"
                                ],
                                "success": [
                                    "1003.bar3"
                                ]
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "required": [
                                "failure",
                                "success"
                            ],
                            "properties": {
                                "failure": {
                                    "description": "A list of child groups that couldn\u2019t be removed from the group. This includes a list of IDs that represent invalid groups.",
                                    "example": [
                                        "1002.czm8"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "success": {
                                    "description": "A list of child groups that have been removed from the group successfully.",
                                    "example": [
                                        "1003.bar3"
                                    ],
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Users"
                ]
            }
        }
    }
}