{
    "swagger": "2.0",
    "info": {
        "title": "Quick Base API",
        "version": "1.0.0"
    },
    "host": "api.quickbase.com/v1",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/usertoken/clone": {
            "post": {
                "description": "Clones the authenticated user token. All applications associated with that token are automatically associated with the new token.",
                "summary": "Clone a user token",
                "operationId": "cloneUserToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "example": {
                                "name": "My cloned user token",
                                "description": "Cloned from user token A"
                            },
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                                "name": {
                                    "description": "The new name for the cloned user token.",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "The description for the cloned user token.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "active": true,
                                "apps": [
                                    {
                                        "id": "bpqe82s1",
                                        "name": "My first app"
                                    },
                                    {
                                        "id": "bpqe82s2",
                                        "name": "My second app"
                                    }
                                ],
                                "lastUsed": "2020-03-27T18:34:12.000Z",
                                "description": "Cloned user token",
                                "id": 5,
                                "name": "My cloned user token",
                                "token": "token"
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                                "active": {
                                    "description": "Whether the user token is active.",
                                    "type": "boolean"
                                },
                                "apps": {
                                    "description": "The list of apps this user token is assigned to.",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": true,
                                        "properties": {
                                            "id": {
                                                "description": "The unique identifier for this application.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "The application's name.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "lastUsed": {
                                    "description": "The last date this user token was used, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "User Token description.",
                                    "type": "string"
                                },
                                "id": {
                                    "description": "User Token id.",
                                    "type": "integer"
                                },
                                "name": {
                                    "description": "User Token name.",
                                    "type": "string"
                                },
                                "token": {
                                    "description": "User Token value.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "UserToken"
                ]
            }
        },
        "/usertoken/transfer": {
            "post": {
                "description": "Transfers the specified user token. Application associations will remain intact. For security, permissions must manually be reconciled.",
                "summary": "Transfer a user token",
                "operationId": "transferUserToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    },
                    {
                        "x-amf-mediaType": "application/json",
                        "in": "body",
                        "name": "generated",
                        "schema": {
                            "example": {
                                "id": 17658,
                                "from": "62341.tr3s",
                                "to": "123456.ab1s"
                            },
                            "type": "object",
                            "additionalProperties": false,
                            "properties": {
                                "id": {
                                    "type": "number",
                                    "description": "The id of the user token to transfer"
                                },
                                "from": {
                                    "type": "string",
                                    "description": "The id of the user to transfer the user token from"
                                },
                                "to": {
                                    "type": "string",
                                    "description": "The id of the user to transfer the user token to"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "active": true,
                                "apps": [
                                    {
                                        "id": "bpqe82s1",
                                        "name": "My first app"
                                    },
                                    {
                                        "id": "bpqe82s2",
                                        "name": "My second app"
                                    }
                                ],
                                "lastUsed": "2020-03-27T18:34:12.000Z",
                                "description": "Transferred user token",
                                "id": 5,
                                "name": "My transferred user token"
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                                "active": {
                                    "description": "Whether the user token is active.",
                                    "type": "boolean"
                                },
                                "apps": {
                                    "description": "The list of apps this user token is assigned to.",
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "additionalProperties": true,
                                        "properties": {
                                            "id": {
                                                "description": "The unique identifier for this application.",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "The application's name.",
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "lastUsed": {
                                    "description": "The last date this user token was used, in the ISO 8601 time format YYYY-MM-DDThh:mm:ss.sssZ (in UTC time zone).",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "User Token description.",
                                    "type": "string"
                                },
                                "id": {
                                    "description": "User Token id.",
                                    "type": "integer"
                                },
                                "name": {
                                    "description": "User Token name.",
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "UserToken"
                ]
            }
        },
        "/usertoken/deactivate": {
            "post": {
                "description": "Deactivates the authenticated user token. Once this is done, the user token must be reactivated in the user interface.",
                "summary": "Deactivate a user token",
                "operationId": "deactivateUserToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "id": 5
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                                "id": {
                                    "description": "The user token id.",
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "UserToken"
                ]
            }
        },
        "/usertoken": {
            "delete": {
                "description": "Deletes the authenticated user token. This is not reversible.",
                "summary": "Delete a user token",
                "operationId": "deleteUserToken",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "QB-Realm-Hostname",
                        "description": "Your Quickbase domain, for example demo.quickbase.com",
                        "required": true,
                        "in": "header",
                        "example": "demo.quickbase.com",
                        "type": "string"
                    },
                    {
                        "name": "User-Agent",
                        "description": "Information is entered by the person or utility invoking the API. Choose between the default in your toolkit or custom create it. Being as descriptive as possible will help in identification and troubleshooting.",
                        "required": false,
                        "in": "header",
                        "example": "FileService_Integration_V2.1",
                        "type": "string"
                    },
                    {
                        "name": "Authorization",
                        "description": "The Quickbase authentication scheme you are using to authenticate the request, as described on the [authorization page](../auth).",
                        "required": true,
                        "in": "header",
                        "example": "QB-USER-TOKEN xxxxxx_xxx_xxxxxxxxxxxxxxxxxxxxxxx",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-amf-mediaType": "application/json",
                        "schema": {
                            "example": {
                                "id": 5
                            },
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                                "id": {
                                    "description": "The user token id.",
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "UserToken"
                ]
            }
        }
    }
}